@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro);

:root {
    --main-color: #d3d3d3;
    --blck: #131313;
    --blue: rgb(69, 146, 235);
    --border: .1rem solid rgba(240, 236, 45, 0.3);
    --white: #fff;

}
* {
    font-family: 'Times New Roman', Times, serif;
}


.heading span{
    color:lightcoral;
    text-transform: uppercase;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3 rem;
    font-size: medium;
    background-color: darkturquoise;
}
 header {
    background-color: bisque;
    border-bottom: var(--main-color);
    display: flex;
    padding: 1.5rem 7%;
justify-content: space-between;
align-items: center;
 /* position: fixed;  */
top: 0;
right: 0;
left: 0;

} 
header .navbar a {
    /* margin: 0 1rem; */
    font-size: 2rem;
}
header .navbar a:hover {
    color: chartreuse;
    border-bottom: 0.1rem seagreen;
}
/* /header .logo img {
    height: 3rem; */

header .icons div {
    cursor: pointer;
    font-size:2.5rem;
    /* margin: 2rem; */
}
header .icons div:hover {
    color: darkmagenta;
}
#home-btn {
    display: none;
}
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/home/yusra_2001/todo2/to-do-list-or-checklistlogo.jpg) no-repeat;
background-size: cover;
background-position: center;
}
.home .about {
    max-width: 60rem;
    font-weight: 100;
    line-height: 2rem;
    padding: 1rem;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(156, 16, 190);
    color: rgb(67, 142, 228);
    text-align: center;
  }
  button {
    margin-top: 10px;
    color: blueviolet;
    counter: reset rgb(155, 27, 27); 
  }
  body {
    background-image: url("/home/yusra_2001/todo2/to-do-list-or-checklistlogo.jpg"), url("/home/yusra_2001/todo2/to-do-list-or-checklistlogo.jpg");
    background-color: #cccccc;
  }
  input[type="checkbox"] {
    background: #990000;    
}

.chk {
   background-color: #990000;  

}
body {
    color: rgb(151, 20, 123);
  }
  
  h1 {
    color: rgb(219, 42, 30);
  }

/* .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
} */
.logo {
    height: 60px;
}